.padlockbox
{
    background-repeat: no-repeat;
    padding-left: 38px;
    min-height: 32px;
    font-size: 20px;
}
.padlockbox.rainbow
{
    background-image: url(chameleonicon_32x32.png);
}

input, textarea
{
    color: black;
}

div.passwordmessage
{
    display:none;
}
input.password
{
    font-size: 20pt;
    text-align: center;
    height: 40px;
}

.hero-unit
{
    padding: 10px 30px 10px 0px;
    margin: 0px;
    }